<div class="container-fluid content-container">
    <mat-table class="msoverview-table mat-elevation-z8 " [dataSource]="dataSource">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let mspub">{{mspub.PublicationName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="edition">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let mspub">{{mspub.EditionName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="progress">
            <mat-header-cell *matHeaderCellDef>Processing</mat-header-cell>
            <mat-cell class="progress-cell" *matCellDef="let mspub">
                <div class="progressContainer" *ngIf="mspub.ScheduleProgress >= '1'">
                    <mat-progress-bar color="primary" mode="determinate" value="{{mspub.ScheduleProgress}}"></mat-progress-bar>{{mspub.ScheduleProgress}}%
                </div>
                <div class="progressContainer" *ngIf="mspub.ScheduleProgress < '1'">
                    <mat-progress-bar color="accent" mode="determinate" value="{{mspub.ScheduleProgress}}"></mat-progress-bar>0%
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comlinks">
            <mat-header-cell *matHeaderCellDef>Comics & Links</mat-header-cell>
            <mat-cell *matCellDef="let mspub">
                <div *ngFor="let mscheck of mspub.mschecks">
                    <div class="dotContainer">
                        <div *ngIf="mscheck.ComicsAndPuzzles === true && mscheck.Autolinks === true">
                            <span class="dotDone"></span>
                        </div>
                        <div *ngIf=" mscheck.ComicsAndPuzzles === null && mscheck.Autolinks === null">
                            <button class="dotSubmitBtn"><span class="dotNotDone"></span></button>

                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="articles">
            <mat-header-cell *matHeaderCellDef>Articles</mat-header-cell>
            <mat-cell *matCellDef="let mspub">
                <div *ngFor="let mscheck of mspub.mschecks">
                    <div class="dotContainer">
                        <div *ngIf="mscheck.Articles === true">
                            <span class="dotDone"></span>
                        </div>
                        <div *ngIf="mscheck.Articles === null">
                            <button class="dotSubmitBtn"><span class="dotNotDone"></span></button>

                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="complete">
            <mat-header-cell *matHeaderCellDef>Complete</mat-header-cell>
            <mat-cell *matCellDef="let mspub">
                <div *ngFor="let mscheck of mspub.mschecks">
                    <div class="dotContainer">
                        <div *ngIf="mscheck.Completed !== null">
                            <span class="dotDone"></span>
                        </div>
                        <div *ngIf="mscheck.Completed === null">
                            <button class="dotSubmitBtn"><span class="dotNotDone"></span></button>

                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="menu">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell class="cell" *matCellDef="let mspub">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click) = "onEdit(mspub.EditionGUID)">
                        <span>Update Check </span>
                    </button>
                    <button mat-menu-item>
                        <span> <a target="_blank" href="http://my.pagesuite-professional.co.uk/access.aspx?account={{mspub.AccountGUID}}">
                                View Account</a></span>
                    </button>
                    <button mat-menu-item>
                        <span> <a target="_blank" href="https://edition.pagesuite-professional.co.uk//launch.aspx?pbid={{mspub.PublicationGUID}}">
                                View Edition </a></span>
                    </button>
                    <button mat-menu-item>
                        <span><a target="_blank" href="http://mediatool.pagesuite-professional.co.uk/ArticleTool/page_headlines2.aspx?edition={{mspub.EditionGUID}}&page=1">
                                Headline Tool </a></span>
                    </button>
                    <button mat-menu-item>
                        <span><a target="_blank" href="http://mediatool.pagesuite-professional.co.uk/reader6/launch_mt.aspx?pnum=1&edid={{mspub.EditionGUID}}">
                                Media Tool </a></span>
                    </button>
                    <button mat-menu-item>
                        <span><a target="_blank" href="http://mediatool.pagesuite-professional.co.uk/articletool/articletool.swf?edid={{mspub.EditionGUID}}">
                                Article Tool </a></span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
</div>