

.wrapper {
  background-color: #f4f4f4;
}
.content-container {
  width:1500px;
  padding-top:2rem;
  padding-bottom: 4rem;

.mat-header-cell {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.mat-column-progress {
  flex: 0 0 300px;
}
.mat-column-Title {
  flex: 0 0 300px;
  .mat-cell {
    font-size: 1.4rem;
    padding: 1.2rem;
    display: flex;
    justify-content: left;
  }
}
.mat-column-OrderName {
    flex: 0 0 200px;
    .mat-cell {
      font-size: 1.4rem;
      padding: 1.2rem;
      display: flex;
      justify-content: left;
    }
  }
.mat-cell {
  font-size: 1.4rem;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  .progressContainer{
    width:100%;
    text-align: center;
  }
  .dotContainer{
  .dotDone {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  .dotSubmitBtn{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  .dotNotDone {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
      }
     }
    }
  }
}
