<div class="container-fluid content-container">
  <mat-table class="msoverview-table mat-elevation-z8 " [dataSource]="dataSource">

      <ng-container matColumnDef="OrderName">
          <mat-header-cell *matHeaderCellDef>Group</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
            {{mspm.Name}}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let mspm">{{mspm.PublicationName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Monday">
          <mat-header-cell *matHeaderCellDef>Mon</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
            <div *ngIf="mspm.ShowMonday === false">
                <mat-icon>close</mat-icon>
            </div> 
            <div *ngIf="mspm.ShowMonday === true">
                <mat-icon>done</mat-icon>
            </div> 
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Tuesday">
          <mat-header-cell *matHeaderCellDef>Tue</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
              <div *ngIf="mspm.ShowTuesday === false">
                  <mat-icon>close</mat-icon>
              </div> 
              <div *ngIf="mspm.ShowTuesday === true">
                  <mat-icon>done</mat-icon>
              </div> 
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Wednesday">
          <mat-header-cell *matHeaderCellDef>Wed</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
              <div *ngIf="mspm.ShowWednesday === false">
                  <mat-icon>close</mat-icon>
              </div> 
              <div *ngIf="mspm.ShowWednesday === true">
                  <mat-icon>done</mat-icon>
              </div> 
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Thursday">
          <mat-header-cell *matHeaderCellDef>Thurs</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
              <div *ngIf="mspm.ShowThursday === false">
                  <mat-icon>close</mat-icon>
              </div> 
              <div *ngIf="mspm.ShowThursday === true">
                  <mat-icon>done</mat-icon>
              </div> 
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Friday">
          <mat-header-cell *matHeaderCellDef>Fri</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
              <div *ngIf="mspm.ShowFriday === false">
                  <mat-icon>close</mat-icon>
              </div> 
              <div *ngIf="mspm.ShowFriday === true">
                  <mat-icon>done</mat-icon>
              </div> 
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Saturday">
          <mat-header-cell *matHeaderCellDef>Sat</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
              <div *ngIf="mspm.ShowSaturday === false">
                  <mat-icon>close</mat-icon>
              </div> 
              <div *ngIf="mspm.ShowSaturday === true">
                  <mat-icon>done</mat-icon>
              </div> 
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Sunday">
          <mat-header-cell *matHeaderCellDef>Sun</mat-header-cell>
          <mat-cell class="progress-cell" *matCellDef="let mspm">
              <div *ngIf="mspm.ShowSunday === false">
                  <mat-icon>close</mat-icon>
              </div> 
              <div *ngIf="mspm.ShowSunday === true">
                  <mat-icon>done</mat-icon>
              </div> 
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef>
              <button mat-button (click)="addNew()">
                  <mat-icon>add</mat-icon>
              </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let mspm">
              <button mat-button (click)="onEdit(mspm.PubID)">
                  <mat-icon>edit</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="deleteBtns">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell *matCellDef="let mspm">
              <button mat-button color = warn (click)="onDelete(mspm.PubID)">
                  <mat-icon>delete</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
</div>