<div class="container">
  <h3 mat-dialog-title> Update Check for {{publicationName}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="updateCheckForm">

      <div class="form">
          <h4>Comics &amp; Puzzles:</h4>
          <mat-select class="form-control" formControlName="comicsCtrl" placeholder="Select Status...">
              <mat-option *ngFor="let comicsstatus of comicsandpuzzles" [value]="comicsstatus.value" required>
                {{comicsstatus.viewValue}}
              </mat-option>
            </mat-select>
      </div>

    <div class="form">
        <h4>Autolinks:</h4>
        <mat-select class="form-control" formControlName="linksCtrl" placeholder="Select Status...">
            <mat-option *ngFor="let linksstatus of autolinks" [value]="linksstatus.value" required>
              {{linksstatus.viewValue}}
            </mat-option>
          </mat-select>
    </div>

    <div class="form">
        <h4>Articles:</h4>
        <mat-select class="form-control" formControlName="articlesCtrl" placeholder="Select Status...">
            <mat-option *ngFor="let articlesstatus of articles" [value]="articlesstatus.value" required>
              {{articlesstatus.viewValue}}
            </mat-option>
          </mat-select>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput class="form-control" formControlName="headlinefixesCtrl"  placeholder="Enter Headline Fixes..."> </textarea>
      </mat-form-field>
    </div>

    <div class="form">
        <input type="hidden" class="form-control" formControlName="completedCtrl" disabled>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [mat-dialog-close]="1" (click)="confirmEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
