.container {
    width: 800px;
    height: 650px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;

    h3 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    form {
        height: 100%;
        width: 100%;

        h4{
            font-weight: bold;
            font-size: 1.8rem;
            padding: 1rem;
        }

        .mat-form-field{
            display: block;
        }
        .mat-select {
            margin-bottom: 2rem;
            font-size: 1.6rem;
        }
    }
}
.container > * {
    width: 100%;
}