
.navbar {
    font-size: 1.6rem;
    padding-left: 5rem;
    padding-right: 1rem;
    padding-top:2rem !important;
    padding-bottom:2rem !important;
    background-color: #283d51 !important;
    .navbar-brand{
        margin-right:4rem;
    }
    .nav-item {
        margin-right: 2rem;
        .nav-link{
        color:white !important;
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        }
    }
}