<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="https://live.portal.pagesuite.com/img/ps_logo.png" alt="logo" style="width:110px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/overview">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pubmanager">Publication Manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>
  