/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "src/assets/sass/_base.scss";
@import url('https://fonts.googleapis.com/css?family=Lato');
body, html {
    font-family: 'Lato', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
