<div class="container">
  <h3 mat-dialog-title> Update {{publicationName}} </h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="updatePubMgrForm">

    <div class="form">
      <h4>Publication GUID:</h4>
      <mat-form-field color="accent">
        <input matInput class="form-control" disabled formControlName="pubGUIDCtrl">
      </mat-form-field>
    </div>
    <div class="form">
      <h4>Publication Group:</h4>
      <mat-select class="form-control" formControlName="orderCtrl" placeholder="Select Group...">
        <mat-option *ngFor="let orders of order" [value]="orders.value" required>
          {{orders.viewValue}} 
        </mat-option>
      </mat-select>
    </div>
    <div class="form">
      <h4>Assignee:</h4>
      <mat-select class="form-control" formControlName="assigneeCtrl" placeholder="Select Assignee...">
        <mat-option *ngFor="let assignees of assignee" [value]="assignees.value" required>
          {{assignees.viewValue}} <!-- Needs to have DB changes to support this feature such as a assignee table-->
        </mat-option>
      </mat-select>
    </div>
    <div class="form">
      <h4> Publishing Days: </h4>
      <mat-checkbox formControlName="mondayCtrl">
        Monday
      </mat-checkbox>
      <mat-checkbox formControlName="tuesdayCtrl">
        Tuesday
      </mat-checkbox>
      <mat-checkbox formControlName="wednesdayCtrl">
        Wednesday
      </mat-checkbox>
      <mat-checkbox formControlName="thursdayCtrl">
        Thursday
      </mat-checkbox>
      <mat-checkbox formControlName="fridayCtrl">
        Friday
      </mat-checkbox>
      <mat-checkbox formControlName="saturdayCtrl">
        Saturday
      </mat-checkbox>
      <mat-checkbox formControlName="sundayCtrl">
        Sunday
      </mat-checkbox>
    </div>
    <div class="form">
      <h4 class="lastItem">Email Notification Recipients:</h4>
      <mat-form-field class="form-control">
        <textarea matInput placeholder="Enter recipients here..." formControlName="recipientsCtrl"></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [mat-dialog-close]="1" (click)="confirmEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>